.bg-wintergreen_dream {
  background-color: #6b9080;
}

.text-wintergreen_dream {
  color: #6b9080;
}

.bg-english_lavender {
  background-color: #b38d97;
}

.text-english_lavender {
  color: #b38d97;
}

.bg-cambridge_blue {
  background-color: #a4c3b2;
}

.text-cambridge_blue {
  color: #a4c3b2;
}

.bg-peach_puff {
  background-color: #ebcfb2;
}

.text-peach_puff {
  color: #ebcfb2;
}

.bg-coral_pink {
  background-color: #f88379;
}

.text-colar_pink {
  color: #f08080;
}

.bg-light_cyan {
  background-color: #cce3de;
}

.text-light_cyan {
  color: #cce3de;
}

